
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: black;
	  background-color: #b3cde0;
}
h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 60px;
}
.bold {
    font-weight: 600;
}

/* CSS for login modal */
#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}
.popupContainer {
    position: absolute;
    width: 330px;
    height: auto;
    left: 45%;
    top: 60px;
    background: #FFF;
}
#modal_trigger {
    /*margin: 40px auto;*/
/*    width: 200px;
    display: block;
    border: 1px solid #DDD;
    border-radius: 4px;*/
}
.btn {
    padding: 10px 20px;
    background: #F4F4F2;
}
.btn_red {
    background: #ED6347;
    color: #FFF;
}
.btn:hover {
    background: #E4E4E2;
}
.btn_red:hover {
    background: #C12B05;
}
a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}
a.btn_red {
    color: #FFF;
}
.one_half {
    width: 50%;
    display: block;
    float: left;
}
.one_half.last {
    width: 45%;
    margin-left: 5%;
}
/* Popup Styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}
.popupHeader {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}
.popupHeader .modal_close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor: pointer;
    color: #aaa;
    font-size: 16px;
}
.popupBody {
    padding: 20px;
}
/* Social Login Form CSS */
.social_login {}

.social_login .social_box {
    display: block;
    clear: both;
    padding: 10px;
    margin-bottom: 10px;
    background: #F4F4F2;
    overflow: hidden;
}
.social_login .icon {
    display: block;
    width: 35px;
    padding: 5px 10px;
    margin-right: 10px;
    float: left;
    color: #FFF;
    font-size: 16px;
    text-align: center;
}
.social_login .fb .icon {
    background: #3B5998;
}
.social_login .google .icon {
    background: #DD4B39;
}
.social_login .icon_title {
    display: block;
    padding: 5px 0;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #777;
}
.social_login .social_box:hover {
    background: #E4E4E2;
}
.centeredText {
    text-align: center;
    margin: 20px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}
.action_btns {
    clear: both;
    overflow: hidden;
}
.action_btns a {
    display: block;
}
/* User Login Form */
.user_login {
    display: none;
}
.user_login label {
    display: block;
    margin-bottom: 5px;
}
.user_login input[type="text"],
.user_login input[type="email"],
.user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}
.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
.user_login input[type="checkbox"]+label {
    float: left;
}
.user_login .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
.forgot_password {
    display: block;
    margin: 20px 0 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}
/* User Register Form */
.user_register {
    display: none;
}
.user_register label {
    display: block;
    margin-bottom: 5px;
}
.user_register input[type="text"], 
.user_register input[type="email"],
.user_register input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #DDD;
    color: #666;
}
.user_register input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}
.user_register input[type="checkbox"]+label {
    float: left;
}
.user_register .checkbox {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}

/* End CSS for login Modal */
.darkgreen {
    background-color: #5f7c2a;
}
#listSec{
    width: 100%;
    height: 100%;
    background-color: orange;
    border: solid 5px black;
    margin-top: 20px;
}
#list{
    margin: 20px;
}
.card {
	height: 100%;
	
	margin: 10px 5px;
	padding:5px;
	
}
.card-footer {
	background-color:#753522;
}
.card-header {
	background-color:#a47c48;

}
.card-body {
	background-color:#f7f1cf;

}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.btn.btn-primary{
    background-image: url(../images/beerbuttonimage2.jpg); /* 16px x 16px */
    background-color: transparent; /* ./assets/images/northpark.jpgmake the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 110px;  
    width: 190px;         /* make this the size of your image */
    padding-left: 16px; 
    padding-top: 25px;    /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}


#more-info-modal {
    width: 80%;
    max-width: 95%;
    max-height: 75vh;
    overflow: scroll;
    margin-left: 10% !important;
    left: 0 !important;

/*    margin-left: 50% !important;
    transform: translate(-50%,0);*/
}

#more-info-modal .comments {
    display: none;
}
#more-info-modal .commentDisplay {
    background: #ddd;
    border-radius: 7px;
    padding: 10px;
    margin-top: 5px;
}

#more-info-modal .beverage {
    font-size: 13px;
    font-style: italic;
}

#more-info-modal .commentinput {
    width: 100%;
}
#more-info-modal form {
    border: 1px solid #ddd;
    background: #efefef;
    padding: 15px;
}
#more-info-modal form .btn {
    background: white;
}

.hours {
    font-size: 14px;
    line-height: 16px;
}
.hours p {
    font-size: 16px;
    margin-bottom: 3px;
}
#nearme {
	padding-top: 10px;
	padding-bottom: 10px;
}
#get {
	padding-top: 10px;
	padding-bottom: 10px;

}

.row {
    /*width:100%;*/
}
.carousel-inner {
    padding-bottom: 5px;

}

/*loader*/
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #b3cde0;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


